.custom-button{
  position: absolute;
  left: 10px;
  top: 15px;
}
.custom-button-2{
  position: absolute;
  left: 10px;
  top: 80px;
}
.custom-button-3{
  position: absolute;
  left: 10px;
  top: 145px;
}