<div
  id="about-content"
  fxLayout
  fxLayoutAlign="center"
>
  <div id="space-renderer" #logincontent></div>
  <div fxFlex.gt-md="70" fxFlex.gt-xs="90" fxFlex="100">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <!-- column -->    
      <div class="math-card" fxFlex="100">
        <mat-card class="global-card">
          <mat-card-header>
            <div mat-card-avatar style="background-image: url(assets/images/math-card-avatar.png)" class="example-header-image"></div>
            <mat-card-title class="title">Acerca de</mat-card-title>
          </mat-card-header>
          
          <mat-card-content>
            <div class="subtitle">
              <p class="sub-content">
                Bienvenido, gracias por darte una vuelta por aquí. Te comento que este proyecto nace con el fin de entretener a estudiantes como tú, y que a través de la visualización de superficies, asociados a 4 tipos de funciones matematicas, puedas aprender desde una perspectiva mas real y menos abstracta.<br><br>
                Un agradecimiento para <strong><a href="https://github.com/stemkoski/stemkoski.github.com" target="_blank">Lee Stemkoski</a></strong> por su proyecto el cual sentó las bases y gran parte de los algoritmos para este proyecto, y un agradecimiento final para <strong><a href="https://github.com/TungstenHub/tngt-threejs" target="_blank">TungstenHub</a></strong> ya que su trabajo sirvió para definir la lógica interna para la construcción de superficies cuádricas.
              </p>
            </div>
          </mat-card-content>
          
        </mat-card>
      </div>
      
    
    </div>

  </div>
</div>



