<div
  id="main-content"
  fxLayout
  fxLayoutAlign="center"
> 
  <div id="space-renderer" #logincontent></div>
  <div fxFlex.gt-md="70" fxFlex.gt-xs="90" fxFlex="100">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <!-- column -->    
      <div class="math-card" fxFlex.gt-lg="45" fxFlex.gt-md="45" fxFlex.gt-xs="45" fxFlex="100">
        <mat-card class="global-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">Funciones Z</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/images/function.png" alt="Funciones">
          
          <mat-card-content>
            <div class="subtitle">
              <p class="sub-content">
                Grafica una función de la forma:
              </p>
            </div>

            <p class="equation"><i class="i-equation">z = f(x, y)</i></p>
          </mat-card-content>
          <mat-card-actions class="math-card-actions">
            <button mat-button class="graph-button" routerLink="/vr/function-grapher">Graficar</button>
            <button mat-button class="ar-button" routerLink="/ar/ar-function-grapher">Ver en AR</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="math-card" fxFlex.gt-lg="45" fxFlex.gt-md="45" fxFlex.gt-xs="45" fxFlex="100">
        <mat-card class="global-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image-2"></div>
            <mat-card-title class="title">Superficies paramétricas</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="assets/images/parametric-surface.png" alt="Superficies">
          
          <mat-card-content>
            <div class="subtitle">
              <p class="sub-content">Grafica una superficie paramétrica de la forma:</p>
            </div>
            <p class="equation"><i class="i-equation">x = f(u, v), y = g(u, v), z = h(u, v)</i></p>
          </mat-card-content>
          <mat-card-actions class="math-card-actions">
            <button mat-button class="graph-button" routerLink="/vr/parametric-surface-grapher">Graficar</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
    
      <div class="math-card" fxFlex.gt-lg="45" fxFlex.gt-md="45" fxFlex.gt-xs="45" fxFlex="100">
        <mat-card class="global-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image-3"></div>
            <mat-card-title class="title">Curvas Paramétricas</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="assets/images/parametric-curve.png" alt="Curvas">
          
          <mat-card-content>
            <div class="subtitle">
              <p class="sub-content">Grafica una superficie paramétrica de la forma:</p>
            </div>
            <p class="equation"><i class="i-equation">x = f(t), y = g(t), z = h(t)</i></p>
          </mat-card-content>
          <mat-card-actions class="math-card-actions">
            <button mat-button class="graph-button" routerLink="/vr/parametric-curve-grapher">Graficar</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="math-card" fxFlex.gt-lg="45" fxFlex.gt-md="45" fxFlex.gt-xs="45" fxFlex="100">
        <mat-card class="global-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image-4"></div>
            <mat-card-title class="title">Superficies cuádricas</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="assets/images/quadric-surface.png" alt="Cuádricas">
          
          <mat-card-content>
            <div class="subtitle">
              <p class="sub-content">
                Grafica una superficie cuádrica de la forma:
              </p>
            </div>
            
            <p class="equation"><i class="i-equation">Ax<sup>2</sup> + By<sup>2</sup> + Cz<sup>2</sup> + Dxy + Eyz + Fxz + Gx + Hy + Iz + J = 0</i></p>
          </mat-card-content>
          <mat-card-actions class="qs-math-card-actions">
            <button mat-button class="graph-button" routerLink="/vr/quadric-surface-grapher">Graficar</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
    
    </div>

  </div>
</div>


